In [1]:
import pandas as pd

In [2]:
admit = pd.read_csv('admit1.csv')
admit.head()

,status,name,province,country,"university,program",exp,paper,scholarship,cgpa_got,cggpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University - Applied Data Analytics,0 month,0 research papers,None,CGPA,8.76/10,...,164Q,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023,NaN,NaN,NaN,NaN,NaN
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta - Masters of Business Ad...,36 months,0 research papers,30000 annual,CGPA,8.4/10,...,155Q,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020,NaN,NaN,NaN,NaN,NaN
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University - Computer Science,10 months,0 research papers,Data not collected,CGPA,3.65/4,...,NaN,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023,NaN,NaN,NaN,NaN,NaN
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University - information Systems Sec...,10 months,0 research papers,Data not collected,CGPA,3.65/4,...,NaN,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023,NaN,NaN,NaN,NaN,NaN
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University - Computer Science,3 months,2 research papers,None,CGPA,9.3/10,...,NaN,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023,NaN,NaN,NaN,NaN,NaN

In [3]:
applied = pd.read_csv('applied1.csv')
applied.head()

,status,name,province,country,"university,program",exp,paper,scholarship,cgpa_got,cggpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing
0,APPLIED,Temidire Dimowo,Lagos,Nigeria,University of Ontario Institute Technology - S...,10 months,0 research papers,NaN,CGPA,3.65/4,...,NaN,NaN,Applied on: Jun 02 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,APPLIED,Jack Don,Gujarat,India,University of Guelph - Computer Engineering,3 months,0 research papers,NaN,CGPA,8.12/10,...,NaN,NaN,Applied on: Apr 21 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,APPLIED,Alishan Ali,Sind,Pakistan,Concordia University - Computer Science,22 months,0 research papers,NaN,CGPA,3.3/4,...,NaN,NaN,Applied on: Apr 27 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APPLIED,Alishan Ali,Sind,Pakistan,University of Victoria - Computer Science,22 months,0 research papers,NaN,CGPA,3.3/4,...,NaN,NaN,Applied on: Apr 27 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APPLIED,Raju Vamsi,Tamil Nadu,India,Trent University - Big Data Analytics Stream: ...,21 months,1 research papers,NaN,CGPA,80.0/100,...,NaN,NaN,Applied on: Apr 25 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
reject = pd.read_csv('reject1.csv')
reject.head()

,status,name,province,country,"university,program",exp,paper,scholarship,cgpa_got,cggpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing
0,REJECT,Rutooja Khamkar,Maharashtra,India,University of Ottawa - User Experience and Int...,0 month,0 research papers,NaN,CGPA,9.4/10,...,NaN,NaN,Applied on: Jan 15 2023,Decision Date: May 22,2023,NaN,NaN,NaN,NaN,NaN
1,REJECT,Lia Masacaranus,Pondicherry,India,University of Victoria - Computer Science,5 months,0 research papers,NaN,CGPA,9.76/10,...,162Q,4AWA,Applied on: Dec 07 2022,Decision Date: May 02,2023,NaN,NaN,NaN,NaN,NaN
2,REJECT,Raju Vamsi,Tamil Nadu,India,McMaster University - Computer Science,21 months,1 research papers,NaN,CGPA,80.0/100,...,NaN,NaN,Applied on: Mar 21 2023,Decision Date: Jun 16,2023,NaN,NaN,NaN,NaN,NaN
3,REJECT,Lia Masacaranus,Pondicherry,India,University of British Columbia - Computer Science,5 months,0 research papers,NaN,CGPA,9.76/10,...,162Q,4AWA,Applied on: Dec 07 2022,Decision Date: Apr 14,2023,NaN,NaN,NaN,NaN,NaN
4,REJECT,Rutooja Khamkar,Maharashtra,India,University of Ottawa - User Experience and Int...,0 month,0 research papers,NaN,CGPA,9.4/10,...,NaN,NaN,Applied on: Jan 15 2023,Decision Date: May 22,2023,NaN,NaN,NaN,NaN,NaN

In [5]:
df = pd.concat([admit,reject,applied], axis=0)
df.head()

,status,name,province,country,"university,program",exp,paper,scholarship,cgpa_got,cggpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University - Applied Data Analytics,0 month,0 research papers,None,CGPA,8.76/10,...,164Q,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,NaN
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta - Masters of Business Ad...,36 months,0 research papers,30000 annual,CGPA,8.4/10,...,155Q,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,NaN
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University - Computer Science,10 months,0 research papers,Data not collected,CGPA,3.65/4,...,NaN,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,NaN
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University - information Systems Sec...,10 months,0 research papers,Data not collected,CGPA,3.65/4,...,NaN,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,NaN
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University - Computer Science,3 months,2 research papers,None,CGPA,9.3/10,...,NaN,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,NaN

In [6]:
df.reset_index(drop=True, inplace=True)
df

,status,name,province,country,"university,program",exp,paper,scholarship,cgpa_got,cggpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University - Applied Data Analytics,0 month,0 research papers,None,CGPA,8.76/10,...,164Q,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,NaN
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta - Masters of Business Ad...,36 months,0 research papers,30000 annual,CGPA,8.4/10,...,155Q,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,NaN
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University - Computer Science,10 months,0 research papers,Data not collected,CGPA,3.65/4,...,NaN,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,NaN
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University - information Systems Sec...,10 months,0 research papers,Data not collected,CGPA,3.65/4,...,NaN,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,NaN
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University - Computer Science,3 months,2 research papers,None,CGPA,9.3/10,...,NaN,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,APPLIED,Nitish Patil,Maharashtra,India,University of Calgary - Electrical Engineering,19 months,0 research papers,NaN,CGPA,49.5/100,...,NaN,NaN,Applied on: Nov 29 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
737,APPLIED,Nitish Patil,Maharashtra,India,McGill University - Electrical Engineering,19 months,0 research papers,NaN,CGPA,49.5/100,...,NaN,NaN,Applied on: Nov 20 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738,APPLIED,Wisdom Barrister,Greater Accra,Ghana,University of Calgary - Petroleum Engineering,18 months,0 research papers,NaN,CGPA,82.07/100,...,NaN,NaN,Applied on: Oct 14 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,APPLIED,Wisdom Barrister,Greater Accra,Ghana,University of British Columbia - Chemical Engi...,18 months,0 research papers,NaN,CGPA,82.07/100,...,NaN,NaN,Applied on: Oct 27 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740,APPLIED,Keyur Patel,Gujarat,India,Dalhousie University - Computer Engineering,0 month,0 research papers,NaN,CGPA,7.4/10,...,NaN,NaN,Applied on: Dec 02 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   status              741 non-null    object
 1   name                741 non-null    object
 2   province            741 non-null    object
 3   country             741 non-null    object
 4   university,program  741 non-null    object
 5   exp                 663 non-null    object
 6   paper               741 non-null    object
 7   scholarship         193 non-null    object
 8   cgpa_got            741 non-null    object
 9   cggpa_outof         741 non-null    object
 10  GRE                 243 non-null    object
 11  gre_verbal          243 non-null    object
 12  gre_quants          243 non-null    object
 13  gre_awa             243 non-null    object
 14  applied_on          740 non-null    object
 15  decision_on         423 non-null    object
 16  Year                423 non-null    float64
 17  TOEFL               76 non-null     object
 18  Reading             76 non-null     object
 19  Speaking            74 non-null     object
 20  Listening           76 non-null     object
 21  Writing             76 non-null     object
dtypes: float64(1), object(21)
memory usage: 127.5+ KB

In [8]:
cols = ['status', 'name', 'province', 'country', 'university,program', 'exp',
       'paper', 'scholarship', 'cgpa_got', 'cggpa_outof', 'GRE', 'gre_verbal',
       'gre_quants', 'gre_awa', 'applied_on', 'decision_on', 'TOEFL',
       'Reading', 'Speaking', 'Listening', 'Writing']

for i in cols:
    df[i] = df[i].str.strip()

In [9]:
df['country'].value_counts()

India                             637
Nigeria                            39
Bangladesh                         17
Pakistan                           15
Ghana                              12
Nepal                               4
United States                       3
South Africa                        2
Canada                              2
Saudi Arabia                        1
Uganda                              1
Iran                                1
Liberia                             1
China                               1
Qatar                               1
Mexico                              1
United Arab Emirates                1
Rwanda                              1
Palestinian Territory Occupied      1
Name: country, dtype: int64

In [10]:
df.rename({'cggpa_outof':'cgpa_outof'}, axis=1, inplace=True)

In [11]:
df['cgpa_outof'].str.split('/')

0        [8.76, 10]
1         [8.4, 10]
2         [3.65, 4]
3         [3.65, 4]
4         [9.3, 10]
           ...
736     [49.5, 100]
737     [49.5, 100]
738    [82.07, 100]
739    [82.07, 100]
740       [7.4, 10]
Name: cgpa_outof, Length: 741, dtype: object

In [12]:
for i in range(df.shape[0]):
    df['cgpa_got'].iloc[i] = df['cgpa_outof'].iloc[i].split('/')[0]
    df['cgpa_outof'].iloc[i] = df['cgpa_outof'].iloc[i].split('/')[1]
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\397248184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cgpa_got'].iloc[i] = df['cgpa_outof'].iloc[i].split('/')[0]
C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\397248184.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cgpa_outof'].iloc[i] = df['cgpa_outof'].iloc[i].split('/')[1]

,status,name,province,country,"university,program",exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University - Applied Data Analytics,0 month,0 research papers,None,8.76,10,...,164Q,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,NaN
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta - Masters of Business Ad...,36 months,0 research papers,30000 annual,8.4,10,...,155Q,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,NaN
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University - Computer Science,10 months,0 research papers,Data not collected,3.65,4,...,NaN,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,NaN
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University - information Systems Sec...,10 months,0 research papers,Data not collected,3.65,4,...,NaN,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,NaN
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University - Computer Science,3 months,2 research papers,None,9.3,10,...,NaN,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,NaN

In [13]:
df['program'] = pd.NA

In [14]:
df.rename({'university,program':'university'}, axis=1, inplace=True)

In [15]:
df['university'].str.contains(' - ').sum()

741

In [16]:
df['university'].iloc[10].split(' - ')

['University of British Columbia', 'Mechanical Engineering']

In [17]:
for i in range(df.shape[0]):
    df['program'].iloc[i] = df['university'].iloc[i].split(' - ')[1]
    df['university'].iloc[i] = df['university'].iloc[i].split(' - ')[0]
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\1822929222.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['program'].iloc[i] = df['university'].iloc[i].split(' - ')[1]
C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\1822929222.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['university'].iloc[i] = df['university'].iloc[i].split(' - ')[0]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0 month,0 research papers,None,8.76,10,...,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36 months,0 research papers,30000 annual,8.4,10,...,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10 months,0 research papers,Data not collected,3.65,4,...,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10 months,0 research papers,Data not collected,3.65,4,...,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3 months,2 research papers,None,9.3,10,...,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science

In [18]:
df['exp'].iloc[15].split()

['3', 'months']

In [19]:
for i in range(df.shape[0]):
    try:
        df['exp'].iloc[i] = df['exp'].iloc[i].split()[0]
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3254018958.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['exp'].iloc[i] = df['exp'].iloc[i].split()[0]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0,0 research papers,None,8.76,10,...,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36,0 research papers,30000 annual,8.4,10,...,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10,0 research papers,Data not collected,3.65,4,...,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10,0 research papers,Data not collected,3.65,4,...,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3,2 research papers,None,9.3,10,...,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science

In [20]:
df['exp'].value_counts()

0      157
18      44
3       43
6       34
30      24
      ...
166      1
40       1
27       1
133      1
47       1
Name: exp, Length: 63, dtype: int64

In [21]:
for i in range(df.shape[0]):
    try:
        df['paper'].iloc[i] = df['paper'].iloc[i].split()[0]
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3726823279.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['paper'].iloc[i] = df['paper'].iloc[i].split()[0]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0,0,None,8.76,10,...,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36,0,30000 annual,8.4,10,...,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10,0,Data not collected,3.65,4,...,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10,0,Data not collected,3.65,4,...,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3,2,None,9.3,10,...,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science

In [22]:
df['paper'].value_counts()

0     490
1     147
2      64
3      25
7       5
4       5
5       3
6       1
46      1
Name: paper, dtype: int64

In [23]:
df['scholarship'].value_counts()

None                  120
Data not collected     54
43000 Lump-Sum          2
12000 Annual            2
30000 annual            2
14000 Annual            1
26000 Annual            1
9420 Annual             1
45996 Annual            1
22000 Annual            1
1000 Per Semester       1
8500 Lump-Sum           1
5000 Lump-Sum           1
5400 Lump-Sum           1
25000 Annual            1
24300 Annual            1
5000 Per Semester       1
61000 Lump-Sum          1
Name: scholarship, dtype: int64

In [24]:
df['scholarship'].replace(to_replace={'None':0,'Data not collected':0}, inplace=True)

In [25]:
for i in range(df.shape[0]):
    try:
        df['scholarship'].iloc[i] = df['scholarship'].iloc[i].split()[0]
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3116951014.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['scholarship'].iloc[i] = df['scholarship'].iloc[i].split()[0]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_awa,applied_on,decision_on,Year,TOEFL,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0,0,0,8.76,10,...,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36,0,30000,8.4,10,...,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10,0,0,3.65,4,...,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10,0,0,3.65,4,...,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3,2,0,9.3,10,...,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,NaN,Computer Science

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   status       741 non-null    object
 1   name         741 non-null    object
 2   province     741 non-null    object
 3   country      741 non-null    object
 4   university   741 non-null    object
 5   exp          663 non-null    object
 6   paper        741 non-null    object
 7   scholarship  193 non-null    object
 8   cgpa_got     741 non-null    object
 9   cgpa_outof   741 non-null    object
 10  GRE          243 non-null    object
 11  gre_verbal   243 non-null    object
 12  gre_quants   243 non-null    object
 13  gre_awa      243 non-null    object
 14  applied_on   740 non-null    object
 15  decision_on  423 non-null    object
 16  Year         423 non-null    float64
 17  TOEFL        76 non-null     object
 18  Reading      76 non-null     object
 19  Speaking     74 non-null     object
 20  Listening    76 non-null     object
 21  Writing      76 non-null     object
 22  program      741 non-null    object
dtypes: float64(1), object(22)
memory usage: 133.3+ KB

In [27]:
for i in ['exp','paper','scholarship','cgpa_got','cgpa_outof']:
    df[i] = pd.to_numeric(df[i])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   status       741 non-null    object
 1   name         741 non-null    object
 2   province     741 non-null    object
 3   country      741 non-null    object
 4   university   741 non-null    object
 5   exp          663 non-null    float64
 6   paper        741 non-null    int64
 7   scholarship  193 non-null    float64
 8   cgpa_got     741 non-null    float64
 9   cgpa_outof   741 non-null    int64
 10  GRE          243 non-null    object
 11  gre_verbal   243 non-null    object
 12  gre_quants   243 non-null    object
 13  gre_awa      243 non-null    object
 14  applied_on   740 non-null    object
 15  decision_on  423 non-null    object
 16  Year         423 non-null    float64
 17  TOEFL        76 non-null     object
 18  Reading      76 non-null     object
 19  Speaking     74 non-null     object
 20  Listening    76 non-null     object
 21  Writing      76 non-null     object
 22  program      741 non-null    object
dtypes: float64(4), int64(2), object(17)
memory usage: 133.3+ KB

In [28]:
df.drop(['GRE','TOEFL'],axis=1, inplace=True)

In [29]:
df['gre_quants'].iloc[1][:3]

'155'

In [30]:
for i in range(df.shape[0]):
    try:
        df['gre_quants'].iloc[i] = df['gre_quants'].iloc[i][:3]
        df['gre_verbal'].iloc[i] = df['gre_verbal'].iloc[i][:3]
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\849976135.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gre_quants'].iloc[i] = df['gre_quants'].iloc[i][:3]
C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\849976135.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gre_verbal'].iloc[i] = df['gre_verbal'].iloc[i][:3]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0.0,0,0.0,8.76,10,...,164,4AWA,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36.0,0,30000.0,8.40,10,...,155,3.5AWA,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10.0,0,0.0,3.65,4,...,NaN,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10.0,0,0.0,3.65,4,...,NaN,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3.0,2,0.0,9.30,10,...,NaN,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,Computer Science

In [31]:
df['gre_awa'].iloc[0].split('AWA')

['4', '']

In [32]:
for i in range(df.shape[0]):
    try:
        df['gre_awa'].iloc[i] = df['gre_awa'].iloc[i].split('AWA')[0]
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3452802364.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gre_awa'].iloc[i] = df['gre_awa'].iloc[i].split('AWA')[0]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0.0,0,0.0,8.76,10,...,164,4,Applied on: Jan 16 2023,Decision Date: Feb 23,2023.0,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36.0,0,30000.0,8.40,10,...,155,3.5,Applied on: Jun 30 2020,Decision Date: Jul 12,2020.0,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10.0,0,0.0,3.65,4,...,NaN,NaN,Applied on: May 31 2023,Decision Date: Jun 20,2023.0,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10.0,0,0.0,3.65,4,...,NaN,NaN,Applied on: May 30 2023,Decision Date: Jul 21,2023.0,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3.0,2,0.0,9.30,10,...,NaN,NaN,Applied on: Feb 11 2023,Decision Date: Mar 09,2023.0,NaN,NaN,NaN,NaN,Computer Science

In [33]:
df['applied_on'].iloc[0].split(': ')

['Applied on', 'Jan 16 2023']

In [34]:
df['decision_on'].iloc[0].split(': ')

['Decision Date', 'Feb 23']

In [35]:
for i in range(df.shape[0]):
    try:
        df['applied_on'].iloc[i] = df['applied_on'].iloc[i].split(': ')[1]
        df['decision_on'].iloc[i] = df['decision_on'].iloc[i].split(': ')[1]
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3140331975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['applied_on'].iloc[i] = df['applied_on'].iloc[i].split(': ')[1]
C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3140331975.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['decision_on'].iloc[i] = df['decision_on'].iloc[i].split(': ')[1]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0.0,0,0.0,8.76,10,...,164,4,Jan 16 2023,Feb 23,2023.0,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36.0,0,30000.0,8.40,10,...,155,3.5,Jun 30 2020,Jul 12,2020.0,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10.0,0,0.0,3.65,4,...,NaN,NaN,May 31 2023,Jun 20,2023.0,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10.0,0,0.0,3.65,4,...,NaN,NaN,May 30 2023,Jul 21,2023.0,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3.0,2,0.0,9.30,10,...,NaN,NaN,Feb 11 2023,Mar 09,2023.0,NaN,NaN,NaN,NaN,Computer Science

In [36]:
df['decision_on'].iloc[1] + " " + str(int(df['Year'].iloc[1]))

'Jul 12 2020'

In [37]:
for i in range(df.shape[0]):
    try:
        df['decision_on'].iloc[i] = df['decision_on'].iloc[i] + " " + str(int(df['Year'].iloc[i]))
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\166631407.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['decision_on'].iloc[i] = df['decision_on'].iloc[i] + " " + str(int(df['Year'].iloc[i]))

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,...,gre_quants,gre_awa,applied_on,decision_on,Year,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0.0,0,0.0,8.76,10,...,164,4,Jan 16 2023,Feb 23 2023,2023.0,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36.0,0,30000.0,8.40,10,...,155,3.5,Jun 30 2020,Jul 12 2020,2020.0,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10.0,0,0.0,3.65,4,...,NaN,NaN,May 31 2023,Jun 20 2023,2023.0,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10.0,0,0.0,3.65,4,...,NaN,NaN,May 30 2023,Jul 21 2023,2023.0,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3.0,2,0.0,9.30,10,...,NaN,NaN,Feb 11 2023,Mar 09 2023,2023.0,NaN,NaN,NaN,NaN,Computer Science

In [38]:
df.drop(['Year'],axis=1,inplace=True)

In [39]:
for i in range(df.shape[0]):
    try:
        df['Reading'].iloc[i] = df['Reading'].iloc[i][:2]
        df['Speaking'].iloc[i] = df['Speaking'].iloc[i][:2]
        df['Listening'].iloc[i] = df['Listening'].iloc[i][:2]
        df['Writing'].iloc[i] = df['Writing'].iloc[i][:2]
    except:
        continue
df.head()

C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3811790888.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Reading'].iloc[i] = df['Reading'].iloc[i][:2]
C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3811790888.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Speaking'].iloc[i] = df['Speaking'].iloc[i][:2]
C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3811790888.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Listening'].iloc[i] = df['Listening'].iloc[i][:2]
C:\Users\Mikil\AppData\Local\Temp\ipykernel_6444\3811790888.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Writing'].iloc[i] = df['Writing'].iloc[i][:2]

,status,name,province,country,university,exp,paper,scholarship,cgpa_got,cgpa_outof,gre_verbal,gre_quants,gre_awa,applied_on,decision_on,Reading,Speaking,Listening,Writing,program
0,ADMIT,Shlok Mandloi,Maharashtra,India,Western University,0.0,0,0.0,8.76,10,151,164,4,Jan 16 2023,Feb 23 2023,NaN,NaN,NaN,NaN,Applied Data Analytics
1,ADMIT,Rambabu Sugumar Sethupathi,Alberta,Canada,University of Alberta,36.0,0,30000.0,8.40,10,142,155,3.5,Jun 30 2020,Jul 12 2020,NaN,NaN,NaN,NaN,Masters of Business Administration (MBA)
2,ADMIT,Temidire Dimowo,Lagos,Nigeria,Dalhousie University,10.0,0,0.0,3.65,4,NaN,NaN,NaN,May 31 2023,Jun 20 2023,NaN,NaN,NaN,NaN,Computer Science
3,ADMIT,Temidire Dimowo,Lagos,Nigeria,Concordia University,10.0,0,0.0,3.65,4,NaN,NaN,NaN,May 30 2023,Jul 21 2023,NaN,NaN,NaN,NaN,information Systems Security
4,ADMIT,Shivaraman Ramakrishnan,Tamil Nadu,India,Wilfrid Laurier University,3.0,2,0.0,9.30,10,NaN,NaN,NaN,Feb 11 2023,Mar 09 2023,NaN,NaN,NaN,NaN,Computer Science

In [40]:
df.to_csv('canada_decisions.csv',index=False)